html
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor' crossorigin='anonymous')
    link(rel='stylesheet' href='/stylesheets/getlogs.css')

    body
        .card
            h2 Exercise for this user is saved!
            .card-body
               p username: "#{username}"
               p count: #{count}
               p _id: "#{_id}"
               p log: [
                    each val in log
                        p {
                        p.ps-3 description: "#{val.description}"
                        p.ps-3 duration: #{val.duration}
                        p.ps-3 date: "#{val.date}" 
                        p.pb-3 }
                    p ]
                

    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js' integrity='sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2' crossorigin='anonymous')